/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 2.5rem;
  margin-bottom: 2%;
  font-family: 'Rubik', sans-serif;
}
section,
footer {
  padding: 4% 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
}
header img {
  width: 100%;
}
.nav {
  padding-top: 2%;
  padding-bottom: 4%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;

  /* justify-content: space-between; */
  /* align-items: space-around; */
}

.nav img {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 80%;
  margin: 0 auto;
}

#links {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
}
#links a {
  text-decoration: none;
  color: black;
}

/*Top Section Styles*/

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4%;
  border-bottom: 2px solid #ff4b00;
  text-align: justify;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Middle Section Styles*/
.middle-content {
  margin-bottom: 4%;
  border-bottom: 2px solid #ff4b00;
}

.middle-content h2 {
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.middle-content .boxes .box {
  background: black;
  margin: 4% 0;
  color: white;
  display: flex;
  width: 17%;
  height: 13vw;
  align-items: center;
  justify-content: center;
}

/*Bottom Section Styles*/
.bottom-content {
  display: flex;
  justify-content: space-between;
}

.bottom-content .text-container {
  width: 30%;
}
.middle-content .text-container h2 {
  margin-top: 0;
}
.text-container h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}
.middle-content .boxes .b1 {
  background: teal;
}

.middle-content .boxes .b2 {
  background: gold;
}
.middle-content .boxes .b3 {
  background: cadetblue;
}
.middle-content .boxes .b4 {
  background: coral;
}
.middle-content .boxes .b5 {
  background: crimson;
}
.middle-content .boxes .b6 {
  background: forestgreen;
}
.middle-content .boxes .b7 {
  background: darkorchid;
}

.middle-content .boxes .b8 {
  background: hotpink;
}
.middle-content .boxes .b9 {
  background: indigo;
}
.middle-content .boxes .b10 {
  background: dodgerblue;
}
/*Foo
/*Footer Styles*/
footer {
  /* display: flex; */
  width: 100%;
  background-color: #ff4b00;
}
footer nav {
  padding-top: 2%;
  padding-bottom: 4%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;

  /* justify-content: space-between; */
  /* align-items: space-around; */
}

footer a {
  color: lightgray;
  text-decoration: none;
}
/*About Page Styles*/
#about-details {
  padding-top: 2%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ff4b00;
}
#about-details h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.appeals {
  width: 100%;
  padding-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.abox {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  align-content: center;
  border-bottom: 2px solid #ff4b00;
  padding-top: 4%;
  padding-bottom: 4%;
}
.abox h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}
#closing {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-top: 4%;
  padding-bottom: 4%;
}

/*Responsive Styles*/

@media screen and (max-width: 500px) {
  header {
    width: 80%;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 95%;
  }
  .nav #links {
    width: 100%;
  }
  .nav a {
    font-size: 1.2rem;
  }
  .top-content .text-container {
    flex-direction: column;
    width: 100%;
    /* background-color: blue; */
    /* border-bottom: 2px solid #ff4b00; */
    margin-bottom: 4%;
  }
  .top-content {
    /* border-bottom: none;
  border-bottom: 2px solid #ff4b00;
     */
    margin-bottom: 0;
  }
  .middle-content .boxes .box {
    width: 45%;
    height: 30vw;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  /* .middle-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  } */
  .middle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .middle-content .text-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .middle-content .text-container h2 {
    text-align: center;
  }
  .bottom-content {
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    align-items: center;
  }
  .bottom-content .text-container {
    width: 100%;
  }
  .bottom-content .text-container h2 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
  }
  .bottom-content .text-container p {
    text-align: justify;
  }
  footer nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .about-page h2 {
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: blue; */
  }
  .appeals {
    /* background-color: blue; */
    flex-direction: column;
    width: 100%;
  }
  .abox {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #about-details h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #about-details h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .appeals img {
    width: 100%;
  }
  #closing h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .abox h1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h1 {
  }
}
